body,
html {
    height: 100%;
    font-family: 'Kanit', cursive !important;
    font-size: 0.95rem !important;
}

:root {
    --main: #0077B6;
    --secound: #0E508C;
    --third: #1D5671;
    --forth: #fefefe;
    --font1: 1.5rem;
}

.panel-default {
    border-color: #dddddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default>.panel-heading {
    color: #Fefefefe;
    border-color: #dddddd;
}

.panel-body h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
    font-weight: 100px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

.toggle-on.btn {
    padding: 5px !important;
    font-weight: 100 !important;
}

.modal {
    position: fixed;
}

#datepicker>span:hover {
    cursor: pointer;
}

#accordionSidebar {
    background-color: var(--secound);
}