body,
html {
    height: 100%;
    font-family: 'Kanit', cursive !important;
    font-size: 0.95rem !important;
}

:root {
    --main: #0077B6;
    --secound: #10AF8B;
    --third: #1D5671;
    --forth: #fefefe;
    --font1: 1.5rem;
}

.label_dashboard {
    background-color: #0077B6 !important;
}

.panel-default {
    border-color: #dddddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default>.panel-heading {
    color: #Fefefefe;
    border-color: #dddddd;
}

.panel-body h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
    font-weight: 100px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

.toggle-on.btn {
    padding: 5px !important;
    font-weight: 100 !important;
}

.modal {
    position: fixed;
}

#datepicker>span:hover {
    cursor: pointer;
}

#accordionSidebar {
    background-color: var(--secound);
}

#middle_line p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

#middle_line span {
    background: #fff;
    padding: 0 10px;
}

.file-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 800px;
    position: relative;
    margin-top: 2rem;
}

.file-upload h2 {
    font-size: 1.5rem;
    color: #333;
    position: relative;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.file-upload p {
    font-size: 0.875rem;
    color: #ddd;
    margin-bottom: 1rem;
}

.custom-form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0.875rem;
}

.custom-file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ddd;
    height: 200px;
    cursor: pointer;
}

.custom-file-drop-area label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: #3333;
    text-transform: uppercase;
    font-weight: bold;
}

#files {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0%;
}

.custom-file-preview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    margin-top: 1rem;
}

.custom-file-preview .prev-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.btn-submit {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--main);
    color: #f1f1f1;
    font-size: 0.875rem;
    text-transform: uppercase;
    padding: 0.875rem 1.5rem;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.img-thumb {
    max-height: 75px;
    border: 2px solid none;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
}

.img-thumb-wrapper {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.remove {
    display: block;
    background: red;
    border: 1px solid none;
    color: white;
    text-align: center;
    cursor: pointer;
}

.remove:hover {
    background: white;
    color: black;
}

.profile-pic-div {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#file {
    display: none;
}

.profile-img {
    width: 250px;
    height: 250px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    border-radius: 60%;
}

.profile-name {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.profile-name:hover .profile-img {
    opacity: 0.3;
}

.profile-name:hover .middle {
    opacity: 1;
}

.text {
    background-color: #0E508C;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}